XML SCHEMA (XSD)/archivo dtd recetas.dtd

<!ELEMENT cookbook (recipe+(aqui se pone el asterisco, la interrogaci칩n o el m치s))>
<!ELEMENT recipe (name,ingredients(aqui se pone el asterisco, la interrogaci칩n o el m치s),process)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT ingredients (ingredient+)>
<!ELEMENT ingredient (name,quantify?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT quantify (#PCDATA)>
<!ELEMENT process (step+)>
<!ATTLIST step orden CDATA #REQUIRED>
